*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.divisions{
    display: flex;
    ;
    width: 100%;
    height: 100vh;
}

div:nth-child(1){
    background-image: url(images/MollyCopy.jpg);
    background-size: cover;
    
}

div:nth-child(2){
    background-color: #FFF3F9;
}

div:nth-child(3){
    background-image: url(images/bg2.jpg);
    background-size: cover;
    
}

div:nth-child(4){
    background-color: #FFF3F9;
}

.home{
    margin-top: 20%;
    height: 45px; 
    background-color: black;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: blanchedalmond;
    font-weight: 100;
    line-height: .4;
    font-size: 100px;
    padding: 20px;
    
}


@media screen and(max-width: 1024px){
    .home{
        width: 0%;
    }
}

/*
html{
    font-size: 10px;
}

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headline{


}

.parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overflow{
    height: 200vh;
}*/

/* --NAVIGATION-- */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    background-color: black;
    position: fixed;
    width: 100%;
}

.logo{
    color: blanchedalmond;   
    letter-spacing: 5px;
    text-transform: uppercase; 
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: blanchedalmond;
    text-decoration: none;  
    letter-spacing: 5px;  
    font-size: 15px;
}

.burger{
    display: none;
}

.burger section{
    height: 2px;
    width: 25px;
    background-color: blanchedalmond;
    margin: 5px;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        height: 92vh;
        right: 0px;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}